
{% extends 'base.html' %}
{% block content %}
<h1>Acerca de mí</h1>
<p>
    Hola, soy Eli 👋 Soy Licenciada en Marketing con más de diez años de experiencia creando estrategias, campañas y
    proyectos que conectan con las personas. Me apasiona aprender cosas nuevas y encontrar formas creativas de comunicar
    ideas.
</p>

<p>
    Uno de mis hobbies favoritos es la cerámica: trabajar con las manos, crear desde cero y conectar con el tiempo lento
    del barro me equilibra y me inspira. Por eso nació esta bitácora, como un espacio donde puedo registrar mis piezas,
    mis pruebas, mis errores (¡y aciertos!) y seguir aprendiendo.
</p>

<p>
    Gracias por pasar por acá 💛</p>
    <p
        style="margin-top: 40px; color: #5e4228; font-size: 20px; font-style: italic; text-align: center; background-color: #f9f0e4; padding: 16px; border-left: 4px solid #d9bfa3; border-radius: 8px;">
        “Crear es también una forma de habitar el mundo.”
    </p>
      
       

<div class="card">
    
</div>
{% endblock %}
    