{% extends 'base.html' %}

{% block content %}

<section class="frase-taller">
    <blockquote>
        <p>En la esfera íntima de los errores<br>
            reside la semilla de la concreción<br>
            material de lo soñado.</p>
        <footer>— <cite>Prensa La Libertad</cite></footer>
    </blockquote>
</section>

<section class="hero">
    <h1>Bienvenid@ a mi Bitácora de Cerámica</h1>
    <p>Este es un espacio donde comparto mis piezas, mi proceso creativo y mucho amor por el barro.</p>
    <p>Explorá la sección <strong>"Piezas"</strong> para ver mis creaciones, o conoceme más en <strong>"Acerca de
            mí"</strong>.</p>
</section>

{% endblock %}

    